
Senior Backend Python Engineer

Our client is transforming the commercial real estate financing space. Based in New York, they have developed a platform powered by AI that connects brokers and borrowers with the most suitable lenders for their deals, while automating the most time-consuming steps of the financing process. They are the first company addressing this challenge at scale, backed by leading venture capital firms and financial institutions that share their vision to revolutionize how commercial real estate financing gets done.


They are looking for a passionate problem solver to join their engineering team. In this role, the person will take on multiple responsibilities across several projects, including their proprietary digital financing platform. They will work directly with the CTO, actively discussing, architecting, and developing new features and products, ensuring timely delivery and proper functionality.


Their current tech stack includes Python, Flask, GraphQL, and Postgres on the backend, and React.js on the frontend. They also maintain several services written in Python with FastAPI, such as their AI Service and Email Service.


Responsibilities:

    Write beautiful Python code focused on scalability, testability, and maintainability.
    Maintain and improve our core Flask API as well as our AI Service and other Microservices written in FastAPI.
    Architect, design, and implement a plethora of features/products we have in the pipeline.
    Collaborate closely with product, design, marketing, and engineering teams on building features and functionality.
    Perform code reviews with your teammates.
    Discuss, implement, and document subjects like Engineering processes, best practices, code quality, testing, continuous integration/deployment, and more.
    Foster a culture of excellence, velocity, and collaboration.
    Recruit, interview, and help improve our interview processes.


Requirements:

    B.S. in Computer Science or equivalent.
    7+ years of experience.
    Proven experience building Python APIs using Flask or FastAPI.
    Recent experience working in product companies or startups, ideally in dynamic, growth-oriented environments.
    Experience working with LLM-powered agents and integrating AI deeply into development workflows and products.
    Strong desire to work in a fast-paced setting, continuously improve your skills, and grow professionally.
    Ability to take business ideas from whiteboard to production deployment.


Bonus points if you have:

    Previous experience in a high-growth company.
    Experience with GraphQL.
    Experience with projects handling complex workflows.
    Benefits:
    Remote: Argentina
    US holidays
    Paid vacations
